/*
*Colores
*Morado: #6600cc
*Azul: #3399ff
*Negro: #2e2e1f
*/

body {
    font-family: 'Lato', sans-serif;
}
#mainSection {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* height: 60vh; */
    /* min-height: 500px; */
    box-shadow: 2px 2px 2px 1px #3399ff;
    margin-bottom: 8vh;
    padding: 0 0 3vh 0;

    /* background-color: antiquewhite; */
    
    
}
/* 
#leftSect {
    display: inline-block; 
   max-width: 35%;
   flex-grow: 1;
   background-color: brown;
   

} */

/* #userSummary {
    height: 17vh;
    border: solid thin white;
    margin-bottom: 5vh;
} */

/* #opcionesPerfil {
    position: relative;
} */

/* .pestañasPerfil {
    width: 70%;
    max-width: 100%;
    position: relative;
    margin-left: 25%;
    text-align: center;
    border: thin solid #6600cc;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 10px 0px 10px 0px;
    display: block;
    background-color: rgb(131, 168, 255);
}

.pestañasPerfil:hover {
    cursor: pointer;
    background-color: rgb(95, 142, 250);
} */

/* 
#rightSect {
    margin-left: 1.5%;
    display: inline-block;
    flex-grow: 2.5;
    max-width: 60%;
    background-color: #e0e0d2;
    height: 50%;
    position: relative;
} */

#perfilConfig {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

input {
    display: block;
    width: 95%;
}

label {
    display: block;
}



#logo-inic {
    width: 20%;
    margin: 0 40% 10vh 40%;
}

#contenedor-inic {
    background-color: #e0e0d2;
}

.activateFormLink {
    color: #3399ff;
    text-decoration: underline;

}

.activateFormLink:hover {
    cursor: pointer;
}

#profileTop {
    display: block;
    background-color: #3399ff;
    width: 100%;
    height: 7vh;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2vh;
    line-height: 7vh;


}


#forms {
    display: none;
}
.profileAttr{
    /* border: solid thin black; */
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    
}
.attr {
    display: inline-block;
}

.attrName {
    width: 30%;
    font-weight: 600;
}

#OPTS_profile {
    margin-top: 2vh;
    margin-left: 4vw;
}

.concreteOpt {
    border: solid thin #3399ff;
    padding: 0 2vw 0 2vw;
    margin: 0 5px 0 0;
    font-weight: 600;
    display: inline-block;
    height: 6vh;
    width: 10vw;
    line-height: 6vh;
    text-align: center;

}
.concreteOpt:hover {
    cursor: pointer;
    background-color: #3399ff;

}


.profileForm {
    display: none;
    padding: 2vh 0 0 3vw;
    
    border-top: 5px solid #3399ff;
    
    /* border-bottom: 1px; */
    margin-top: 2vh;
}


#cDF {
    width: 60%;
}
#cDF>label {
    margin-top: 2vh;

}

#cDF>input {
    padding: 1vh 0 1vh 0;
}

#rEMP {
    width: 60%;
}
#rEMP>label {
    margin-top: 2vh;

}

#rEMP>input {
    padding: 1vh 0 1vh 0;
}

.submitCDF {
    display: inline-block;
    cursor: pointer;
    margin-top: 2vh;
    /* padding: 1vh 4vw 1vh 4vw ; */
    width: 40%;
}
#cambiarPass {
    width: 60%;
}
#cambiarPass>input{
    padding: 1vh 0 1vh 0;
}
#cambiarPass>label {
    margin-top: 2vh;
}
#cambiarPass + * {
    display: block;
}