#contenedor-inic {
    background-color: #e0e0d2;
    height: 100vh;
    min-height: 800px;
}

#logo-inic {
    width: 20%;
    margin: 0 40% 0 40%;
}

#contenedor-form {
    width: 30%;
    border: 2px solid white;
    border-radius: 16px;
    padding: 0 5% 50px 5%;
    margin: 0 30% 30px 30%;
}

input {
    width: 95%;
    padding: 5px 2.5% 5px 2.5%;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #2e2e1f;
}

label {
    padding: 0 2.5% 0 2.5%;
}

#boton-inic-ses {
    background-color: #3399ff;
    color: white;
    cursor: pointer;
    width: 100%;
}

#boton-inic-ses:hover{
    background-color: #0073e6;
    font-weight: 600;
}

#boton-nueva-cuenta {
    background-color: #400080;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
}

#boton-nueva-cuenta:hover {
    background-color: #8000ff;
    font-weight: 600;
}

#recuerdame-checkbox {
    margin: 5px 0 0 0;
    width: 15%
}

.no-cuenta {
    color: #400080;
    font-size: 12px;
    text-align: center;
    border-bottom: 2px solid #400080;
    padding-bottom: 20px;
    margin-top: 20px;
}