/*
*Colores
*Morado: #6600cc
*Azul: #3399ff
*Negro: #2e2e1f
*/

#dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

#topSect {
    border: solid #2e2e1f;
    border-width: 2px;
    border-radius: 4px;
    background-color: #3399ff;
    height: 6vh;
    /* vertical-align: middle; */
}

#botSect {
    height: auto;
}


.optCfg {
    display: inline-block;
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-radius: 4px;
    
    position: relative;
    
    
}
 #optsCfg {
     
     position: relative;
     display: block;
     padding-left: 2vw;
     /* line-height: 6vh; */
     /* vertical-align: middle; */
     
     
 }

.adminOpt {
    
    margin: 0 5px 0 0;
    font-size: 15px;
    font-weight: 600;
    
}
.adminOpt:hover {
    cursor: pointer;
    /* background-color: #1a4672; */
    border: solid #2e2e1f;
    border-radius: 5px;

}

.cfgForm {
    
    display: none;
    padding: 2vh 0 0 3vw;
    margin-top: 2vh;
}