#contenedor-inic {
    background-color: #e0e0d2;
}

#logo-inic {
    width: 20%;
    margin: 0 40% 0 40%;
}

#contenedor-form {
    width: 30%;
    border: 2px solid white;
    border-radius: 16px;
    padding: 0 5% 50px 5%;
    margin: 0 30% 30px 30%;
}

#contenedor-form > input,div {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #2e2e1f;
}

#boton-inic-ses {
    background-color: #3399ff;
    color: white;
    cursor: pointer;
}

#boton-inic-ses:hover{
    background-color: #0073e6;
    font-weight: 600;
}

#boton-nueva-cuenta {
    background-color: #400080;
    color: white;
    cursor: pointer;
}

#boton-nueva-cuenta:hover {
    background-color: #8000ff;
    font-weight: 600;
}

#recuerdame-checkbox {
    margin: 5px 0 0 0;
    width: 15%
}

.no-cuenta {
    color: #400080;
    font-size: 12px;
    text-align: center;
}

#crear-nueva-cuenta {
    border: 0.5px solid #400080;
}