/*
*Colores
*Morado: #6600cc
*Azul: #3399ff
*Negro: #2e2e1f
*/

body{
    margin: 0;
    z-index: 99;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    max-height: 60px;
    overflow: hidden;
    z-index: 99;
}

#logo {
    display: inline-block;
    float: left;
    margin-right: 70px;
}

.lista_nav {
    position: relative;
    padding: 2.5px 10px 2.5px 10px;
    padding-inline-start: 0px;
    margin: 5px 5px 5px 0px;
    min-width: 100px;
    height: 100%;
    max-height: 40px;
    overflow: hidden;
    background-color: #3399ff;
    border: 2.5px solid #2e2e1f;
}

.lista_nav li {
    color: #2e2e1f;
    display: inline-block;
    float: left;
    position: relative;
    padding: 5px;
    margin: 5px 3% 5px 3%;
}

.cont_enlace_interno:hover {
    color: white;
    background-color: #6600cc;
    cursor: pointer;
    border-radius: 5px;
}

#mainContainer {
    background-color: white;
    display: block;
    position: relative;
    top: 100px;
    margin-left: 9.5vw;
    margin-right: 22vw;
    height: 40vw;
/*    box-sizing: border-box;*/
    
}

#sideContainer {
    display: inline-block;
    position: relative;
    bottom: 370px;
    margin-left: 10px;
    z-index: 3;
}



.sideDiv {
    background-color: white;
    color: black;
    border: solid;
    
    border-color: #6600cc;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    box-shadow: 1px 3px ;
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
    z-index: 4;
    
}

.sideDiv:hover {
    background-color: #6600cc;
    cursor: pointer;
    
}

#contenidoMain {
    display: inline-block;
    background-color: aqua;
    height: 97%;
    width: 81%;
    margin-top: 7px;
    margin-left: -10px;
    z-index: 50;
    
/*    position: relative;*/
    
    
}

#adsLateral {
    background-color: orange;
/*    height: 200px;*/
    width: 250px;
    position: fixed;
    top: 107px;
    right: 30px;
    max-height: 1000vw;
}

.adv {
    background-color: darkblue;
    display: block;
    height: 70px;
    width: 150px;
    position: relative;
    top: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    left: 50px;
}
