/*
*Colores
*Morado: #6600cc
*Azul: #3399ff
*Negro: #2e2e1f
*/

.productRow {
    background-color: white;
    display: flex;
    position: relative;
    width: 90%;
    height: 25vh;
    vertical-align: top;
/*    margin-top: 2.5%;*/
    margin-top: 2px;
    margin-bottom: 2%;
    margin-left: 3%;
    
    padding: 1% 2% 1% 2%;
    z-index: 51;
}

.product {
    position: relative;
    display: inline-block;
    width: 23%;
    height: 100%;
    margin-top: 0;
    vertical-align: top;

    background-color: white;
    z-index: 50;
    margin: auto;
    
    
    
}
.product:hover {
    border: solid thin;
    border-color: #6600cc;
    border-radius: 0px;
    box-shadow: 0.5px 0.5px 15px 0px #2e2e1f; 
}


.proTitulo {
   position: relative;
    font-size: 14px;
    font-weight: bold;
    
/*    margin-block-start: 0px;*/
    margin-block-end: 0px;
    height: 10%; 
    font-family: 'Lato', sans-serif;
}

.proDescripcion {
       position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: auto; 
    
    
}

.proPrecio {
    margin-block-start: 3px;
    height: auto;
    font-family: 'Lato', sans-serif;
}

.product img {
    
    height: 60%;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 4%;
    
}

#contenidoMainCatalogo {
    background-color: white;
/*    top: 10vh;*/
    position: relative;
    display: block;
/*    height: inherit;*/
    width: 100%;
    border: solid thin;
    border-radius: 2%;
    border-top-left-radius: 1%;
    
/*    box-shadow: inset 0 10px 10px -10px black;*/
    box-shadow: 1px 2px 5px 1px #3399ff;
    right: 6px;
    border-color: #3399ff;
    padding: 2% 1% 1% 1%;
    
    max-height: 100%;
    z-index: 5;
}

#filtersWrapper{
    background-color: white;
    display: inline-block;
    width: 20%;
    margin: 0 20px 0 0;
    border-radius: 5px;
    align-items: flex-start;
        
    
}

#filtersContainer {
    display: inline-block;
/*    vertical-align: middle;*/
    width: 100%;
    height: 100%;
    background-color: rgba(46,46,31,0.17);
    z-index: 99;
    border-radius: 5px;
    box-shadow: 1px 1px 12px 1px #000 ;
    border: solid thin #000;
}

#filtersHeader {
    
    width: 100%;
    height: 2.5vh;
    background-color: rgba(102,0,204,0.80);
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 2vh;
}

#filterBrCrumbsWrapper {
    min-height: 2vh;
    height: auto;
    font-size: 12px;
    line-height: 2vh;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1vh;
    color: #3399ff;
    font-weight: bold;
    
    
}
#filterBrCrumbsWrapper > a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
/*    text-underline-position: below;*/
}

#category {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 4vw;
    margin-bottom: 2vh;
    text-decoration: underline;
}

.filtroItem {
    
    width: 100%;    
    margin: 0 0 0 0;
    border-bottom: solid thin rgba(102,0,204,0.80);
    box-shadow: 0 1px 2px 1px rgba(102,0,204,1);
    padding: 4px 0 4px 0;
    overflow-x: hidden;
    
}
.filtroItem > * {
    padding-left: 1vh;
}

.filtroItem > span {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 17px;
    font-size-adjust: auto;
    text-decoration-line: underline;
    
}
.filtroItem > input {
    margin: 13px 0 13px 1vh;
    display: block;
}

.filterOpts {
    
    font-family: 'Lato';
    font-size-adjust: auto;
}

.filterOpts > li > *:hover{
    cursor: pointer;
}
input[type=radio]:checked ~ label{
    color: rgba(102,0,204,1);
}



.slider {
    -webkit-appearance: none;
    width: 90%;
    appearence: none;
    height: 0.5vh;
    background: #3399ff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
}

.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 4px; 
  height: 15px; 
  background: rgba(102,0,204,1); 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 4px;
  height: 15px;
  background: rgba(102,0,204,1); 
  cursor: pointer;
}
#priceSlider > *{
    font-family: 'Lato', sans-serif;
}





/*-------------------------------------------------------------------------------------*/

#sideLFTblank {
    position: relative;
/*    background-color: crimson;*/    
    width: 160px;
}

#categoriesWrapper {
 display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 70%
    
}

.prodCategory {
    background-color: crimson;
    display: inline-block;
    width: 15vw;
    height: 25vh;
    margin: 9px 9px 9px 9px;
    
}

#mid {
    
    background-color: white;
    width: 100%;
    padding-right: 25%;
    margin-left: 0px;
    display: block;
    position: relative;
    
}
@media (max-width: 680px) {
    #mid{
        padding-right: 0px;
    }
}

#midFiller {
    background-color: rgba(102,0,204,0.80);
    height: 39px;
    z-index: 99;
/*    overflow: hidden;*/
}

#mid > p {
    display: block; 
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#catCarousel {
    height: 25vh;
    background-color: crimson;
    display: block;
    
    
}

#lftCategorias {
    background-color: white;
    height: 80%;
    width: 100%;
    position: relative;
    margin-right: 0px;
    
}

#lftCategorias > a {
    display: block;
/*    border: solid thin black;*/
    height: 30px;
    padding-left: 50px;
    line-height: 30px; 
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    
}

@keyframes grow{
    from{width: 100%; }
    to{width: 110%;}
}


#catTitulo {
    background-color: rgba(102,0,204,0.80);
    display: block;
/*    border: solid thin black;*/
    height: 30px;
/*    text-align: center;*/
    padding-top: 9px;
    padding-left: 48px;
    padding-bottom: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    
}
#lftCategorias > a:hover {
    background-color: rgba(46,46,31,0.17);
     
/*    animation-name: grow;*/
/*    animation-duration: 0.1s;    */
    
}

#lftCategorias > a:hover + div{
/*
    opacity: 1;
    transition: opacity 0s;
*/
    visibility: visible;
}

#subSobremesa {
    vertical-align: bottom;
    background-color: white;
/*    opacity: 1;*/
    visibility: hidden;
/*    transition: opacity 0s 0.2s;*/
    
    position: absolute;
    height: 40vh;
/*    width: 30vw;*/
    left: 15vw;
    top: 1vh;
    z-index: 99;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 12px 3px;
    
}
#subSobremesa:hover {
    visibility: visible;
}




#subSobremesa > a {
    font-family: 'Lato', sans-serif;
    margin: 0px 0 5px 0;
    width: 12vw;
    padding-left: 10px;
}

#subSobremesa > a:hover {
    color: rgba(102,0,204,0.80);
    font-weight: 600;
    cursor: pointer;
    
/*    background-color: rgba(46,46,31,0.17)*/
}



#subSobremesa > div {
    margin: 0 0 6px 0;
    padding: 0 0 0 4px;
/*    background-color: aqua;*/
    background-color: #3399ff;
    color: white;
    font-family: 'Lato', sans-serif;
    display: block;
    height: 3vh;
    line-height: 3vh;
}

/*------------------------------------------------------*/

.mainProductoWrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 40%;
    width: 65%;
    display: block;
    position: relative;
    background-color: lightgray;
    min-height: 10vh;
    max-height: 100%;
    padding: 10px 10px 10px 10px;
    
}

.maxedMini {
    
/*    width: 45%;*/
    left: 0;
    top: 0;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.prodContainer {
    display:inline-block;
    max-height: 45%;
    max-width: 45%;
}

.prodMiniaturas{
    display: block;
/*    flex-direction: row;*/
    
    
    list-style: none;
    
/*    width: 45%;*/
    height: 4vh;
/*    background-color: forestgreen;*/
    align-content: space-between;
    
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
    
    
}


.maxedMini > img {
    max-height: 100%;
    max-width: 100%;
    
}


.prodMiniaturas > * {
/*    visibility: hidden;*/
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.prodMiniaturas > *:hover {
    cursor: pointer;
    border: solid thin #6600cc;
}


.prodDescriptionWrapper {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    max-height: 100%;
    width: 50%;
    margin-left: 40px;
/*    margin-right: 0;*/
}

#desTitulo {
    display: block;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
}
#desDesc {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: rgba(102,0,204,0.80);
    font-weight: 900;
}

#detallesAdiccionalesWrapper {
    width: 70%;
    display: inline-block;
    height: auto;
    
    background-color: white;
}

#detallesAdCategorias {
    width: 30%;
    background-color: green;
    height: 6vh;
}

#detallesAdCategorias > span{
    height: 100%;
    text-align: center;
    border: solid thin #000;
    border-radius: 15px 15px 0 0;
    line-height: 6vh;
    padding: 0 2% 0 2%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: #3399ff;
}
#detallesAdContent  > p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}