/*
*Colores
*Morado: #6600cc
*Azul: #3399ff
*Negro: #2e2e1f
*/


#sideContainer {
    position: fixed;
    width: 200px;
    height: auto;
    left: 0;
    max-width: 200px;
    margin-top: 100px;
    overflow: hidden;
    z-index: 55;
    
}

#lista_side {
    display: table;
    position: relative;
    padding-inline-start: 0px;
    margin: 0px 0px 0px 60px;
    width: 140px;
    min-width: 140px;
    height: auto;
    overflow: hidden;
}

.sideDiv {
    background-color: white;
    border: solid;
    border-color: #6600cc;
    display: block;
    margin: 6px 0px 6px 0px;
    box-shadow: 6px 3px 4px 5px;
/*    box-shadow: 0 0 10px black;*/
    position: relative;
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
    z-index: 55;
}

.sideDiv a {
    text-decoration: none;
    color: #2e2e1f;
    display: block;
    width: 100%;
    
}

.sideDiv:hover{
    background-color: #6600cc;
    cursor: pointer;
}

.sideDiv:hover a{
    color: white;
}


.productRow {
    background-color: white;
    display: flex;
/*    position: relative;*/
    width: 90%;
    height: 20vh;
    vertical-align: top;
/*    margin-top: 2.5%;*/
    margin-top: 2px;
    margin-bottom: 2%;
    margin-left: 3%;
    
    padding: 2% 2% 2% 2%;
    z-index: 51;
}

.product {
/*    position: relative;*/
    display: inline-block;
    width: 30%;
    height: 100%;
    margin-top: 0;
    vertical-align: top;
    border: solid thin;
    border-color: #6600cc;
    background-color: white;
    z-index: 50;
    margin: auto;
    
}



.proTitulo {
   position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: 10%; 
}

.proDescripcion {
       position: relative;
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: 26%; 
    
}



.product img {
    height: 60%;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 4%;
    
}

#contenidoMainCatalogo {
    border: solid thin;
    border-radius: 2%;
    border-top-left-radius: 1%;
/*    box-shadow: inset 0 10px 10px -10px black;*/
    box-shadow: 1px 2px 5px 1px #3399ff;
    
    border-color: #3399ff;
/*    position: relative;*/
    padding: 2% 1% 1% 1%;
    
    max-height: 100%;
    z-index: 5;
}